
// 头部样式变量
$header-height: 50px;
$header-background: linear-gradient(315deg, #26304A 0%, #26304A 100%) !important;
$header-color: #ffffff;
$header-padding: 10px;

// 左侧菜单样式变量
$menu-background: #17233d;
$menu-color: #fff;
$menu_active_color: #ffd04b;
$menu_width: 200px;
$menu_width_collapse: 64px;
// 主视图区样式变量
$main_base_color: #ffffff;
$main_body_padding: 8px;
// 页面标签页样式
